/** * Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/) * http://cssreset.com */html, body, div, span, applet, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre,a, abbr, acronym, address, big, cite, code,del, dfn, em, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var,b, u, i, center,dl, dt, dd, ol, ul, li,fieldset, form, label, legend,table, caption, tbody, tfoot, thead, tr, th, td,article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,time, mark, audio, video {  margin: 0;  padding: 0; border: 0;  font-size: 100%;  font: inherit;  vertical-align: baseline;}/* HTML5 display-role reset for older browsers */article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {  display: block;}body {  line-height: 1;}ol, ul {  list-style: none;}blockquote, q { quotes: none;}blockquote:before, blockquote:after,q:before, q:after { content: '';  content: none;}table {  border-collapse: collapse;  border-spacing: 0;}

.main {
  background-color: #F2F2F2;
}

.dx {
  position: relative;
  width: 67%;
  min-width: 500px;
  height: auto;
  float: right;
  z-index: -1;
}

#zigzag{
  position: absolute;
  z-index: 99;
  width:22%;
  padding-top: 12%;
  left:2%;
}

#dritta1{
  position: absolute;
  z-index: 99;
  left:42%;
  padding-top: 10.2em;
  height: 10.5%;
}

#dritta2{
  position: absolute;
  z-index: 99;
  left:42%;
  padding-top: 22.5em;
  height: 10.5%;
}

#dritta3{
  position: absolute;
  z-index: 99;
  left:42%;
  padding-top: 35.3em;
  height: 10.5%;
}

.box{
  position: relative;
  margin-left: 24%;
  margin-top: 3%; 
}

#icon1{
  position: absolute;
  z-index: 99;
  padding-top: 2%;
  left: -4%;
}

#icon2{
  position: absolute;
  z-index: 99;
  padding-top: 13.8em;
  left: -4%;
}

#icon3{
  position: absolute;
  z-index: 99;
  padding-top: 25.7em;
  left: -4%;

}

.text{
  position: relative;
  font-size: 1.1em;
  font-family: Verdana;
  text-align: left;
  padding-left: 1em;
  padding-right: 1em;
  padding-top: 7%;
  line-height: 1.2em;
  color: #000000;
}

#b1{
  position: relative;
  width: 325px;
  color: #FFFFFF;
  overflow:hidden;
  z-index: 50;
  height: 8.5em;
}

#b1 .opacity{
  position: absolute;
  opacity:0.5;  
  filter:alpha(opacity=50);  
  -moz-opacity:0.5; 
  background-color: #FFFFFF;
  width: 325px;
  height: 400px;
  top:0px;
  left: 0px;
  z-index:-1;
}

#b2{
  position: relative;
  width: 325px;
  color: #FFFFFF;
  overflow:hidden;
  z-index: 50;
  margin-top: 4em;
  height: 8.5em;
}

#b2 .opacity{
  position: absolute;
  opacity:0.5;  
  filter:alpha(opacity=50);  
  -moz-opacity:0.5; 
  background-color: #FFFFFF;
  width: 325px;
  height: 400px;
  top:0px;
  left: 0px;
  z-index:-1;
}

#b3{
  position: relative;
  width: 325px;
  color: #FFFFFF;
  overflow:hidden;
  z-index: 50;
  margin-top: 4em;
  height: 8.5em;
}

#b3 .opacity{
  position: absolute;
  opacity:0.5;  
  filter:alpha(opacity=50);  
  -moz-opacity:0.5; 
  background-color: #FFFFFF;
  width: 325px;
  height: 400px;
  top:0px;
  left: 0px;
  z-index:-1;
}

#action{
  position: absolute;
  width: 13em;
  left: 8%;
  margin-top: 4.4em;
  z-index: 99;
}

.sx {
  position: relative;
  width:34%;
  min-width: 250px;
  height: auto;
  z-index: 50;
  background-color: #FFFFFF;
  -webkit-border-radius: 0 10px 0 0;
  -moz-border-radius: 0 10px 0 0;
  border-radius: 0 10px 0 0;
}

#logo {
  position: absolute;
  padding-left: 10%;
  font-family: regencie;
  color: black;
  font-size: 20px;
}

#immagine_prodotto{
  position: absolute;
  padding-left: 8%;
  padding-right: 5%;
  top: 15%;
  width: 87%;

  filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'saturate\' values=\'0.6\'/></filter></svg>#grayscale"); /* Firefox 10+, Firefox on Android */
  filter: gray; /* IE6-9 */
  -webkit-filter: grayscale(60%); /* Chrome 19+, Safari 6+, Safari 6+ iOS */
}

#immagine_prodotto:hover{
  filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'1 0 0 0 0, 0 1 0 0 0, 0 0 1 0 0, 0 0 0 1 0\'/></filter></svg>#grayscale");
  -webkit-filter: grayscale(0%);
  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #d1d1d1), color-stop(1, #ffffff) );  
  background:-moz-linear-gradient( center top, #d1d1d1 5%, #ffffff 100% );  
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#d1d1d1', endColorstr='#ffffff');  
  background-color:#d1d1d1;  

}
#wrapper { 
    display: block; 
    padding-top: 32em;  
}

.fl{
    display: inline;
    vertical-align:top !important;
    max-width: 200px;
}

#commenti{
  display: inline-block;
  float: right;
  color: #928D8D;
  font-family: skia;
  font-size: 1.3em;
  padding-right:0.3em;
}

.fb-like{
  display: inline-block;
  float: left;
  left: 2em;
}

#fbcomment{
  padding-right: 10px;
  padding-left: 10px;
}

/*to make fb plugins responsive*/
.fb_iframe_widget, .fb_iframe_widget span, .fb_iframe_widget span iframe[style] {
  width: 100% !important;
}

.footer {
  position: relative;
  clear:both;
  width: 100%;
  height: 4em;
  overflow:hidden;
  z-index: 99;
}

#footop{
  position: fixed;
  opacity: 0.3;
  width: 100%;
  height: 100%;
  z-index: -1; 
}

.footer p{
  color:#5C5858;
  text-align:center;
  line-height:4em;
  font-family: Verdana;
  background-color: #C4D4E5;
}

#fb-root {
  display: none;
}

img {
  max-width: 100%;
  height: auto;
}

@font-face{
  font-family: 'regencie';
  src: url('font/regencie.ttf');
}